.invoices {
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
    position: relative;
    margin-top: 72px;
    margin-bottom: 4px;
}

.invoices-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 65px;
    align-items: center;
    color: var(--invoices-header-text);
}

.invoices-num {
    text-align: left;
}

.header-item-row {
    display: flex;
    flex-direction: row;
}

h1 {
    margin-bottom: 8px;
}

p {
    color: var(--paragraph-color);
}

.invoices .mobile {
    display: none;
}

.invoices .desktop {
    display: block;
}

@media screen and (max-width: 1000px) {
    .invoices {
        margin-right: 30px;
    }
}

@media screen and (max-width: 900px) {
    .invoices {
        width: 100%;
        max-width: calc(100% - 96px);
        margin: 56px 48px 173px 48px;
        margin-bottom: 173px;
    }
}

@media screen and (max-width: 700px) {
    .invoices {
        max-width: calc(100% - 48px);
        margin: 32px 24px 105px 24px;
    }
    .invoices h1 {
        font-size: 20px;
        line-height: 22.5px;
        font-weight: 900;
        margin-bottom: 4px;
    }
}

@media screen and (max-width: 500px) {
    .invoices .mobile {
        display: block;
    }
    .invoices .desktop {
        display: none;
    }
}