.single-invoice {
    /* border: 2px solid orange; */
    padding: 16px 32px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    background-color: var(--body);
}

.single-invoice:last-child {
    margin-bottom: 0;
}

.singleItem {
    padding: 9px;
    /* border: 2px solid pink; */
}

.status {
    width: 104px;
    font-weight: 700;
    position: relative;
    border-radius: 8px;
}

.total {
    font-weight: 700;
}

.id,
span.id {
    font-weight: 700;
}

.little-circle {
    font-size: 32px;
    position: relative;
    bottom: -7px;
}

.hash {
    color: var(--name-date);
    font-weight: 700;
}

.name-date {
    color: var(--name-date);
}

@media screen and (max-width: 900px) {
    .single-invoice {
        padding: 28px 24px;
    }
}

@media screen and (max-width: 700px) {
    .single-invoice {
        padding: 24px 24px;
    }
}