.new-invoice-btn {
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-left: 40px;
  background-color: var(--button-new);
  border-radius: 24px;
  color: white;
  padding: 8px 15px 7px 8px;
  /* align-content: center;*/
  height: fit-content;
  cursor: pointer;
}

.new-invoice-btn:hover {
  background-color: var(--button-new-hover);
}

.plus {
  color: var(--button-new);
  background-color: white;
  border-radius: 100%;
  margin-right: 16px;
  font-size: 10px;
  padding: 11px;
  line-height: 10px;
  font-weight: 700;
}
