.items-list {
    background-color: var(--items-list);
    padding: 32px;
    padding-bottom: 8px;
    border-radius: 8px 8px 0 0;
}

.single-item-list {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    padding-bottom: 32px;
}

.items-list-header {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    padding-bottom: 32px;
}

.item-total,
.item-price {
    width: 20%;
}

.item-price {
    color: var(--items-header);
}

.item-qty {
    width: 15%;
    color: var(--items-header);
}

.item-header {
    text-align: center;
    font-size: 11px;
    color: var(--items-header);
}

.item-main {
    text-align: center;
    font-weight: bold;
}

.item-name {
    width: 45%;
    text-align: left;
}

.item-name.item-main,
.item-total.item-main {
    color: var(--font-bold-color);
}

.item-total,
.item-price {
    text-align: right;
}

.single-item-list {
    flex-wrap: wrap;
}

.items-mob {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 700px) {
    .items-list {
        padding: 24px;
    }
    .items-list-header {
        display: none;
    }
    .item-total {
        width: 50%;
        order: 1;
        display: flex;
        align-items: flex-end;
        justify-content: right;
    }
    .item-name {
        width: 50%;
        margin-bottom: 8px;
    }
    .item-price,
    .item-qty {
        order: 2;
        text-align: left;
    }
    .item-qty::after {
        content: ' x';
    }
}

@media screen and (max-width: 375px) {
    .items-list {
        padding: 20px;
    }
    .items-list-header {
        display: none;
    }
    .item-total {
        width: 50%;
        order: 1;
        display: flex;
        align-items: flex-end;
        justify-content: right;
    }
    .item-name {
        width: 50%;
        margin-bottom: 8px;
    }
    .item-price,
    .item-qty {
        order: 2;
        text-align: left;
    }
    .item-qty::after {
        content: ' x';
    }
}