.empty-list {
  max-width: 244px;
  width: 100%;
}

.text-container {
  padding: 0px 10px;
}

h2 {
  margin-top: 64px;
  margin-bottom: 24px;
}

strong {
  font-weight: 700;
}

p {
  text-align: center;
}

.img-empty {
  margin-top: 76px;
  width: 241.34px;
  height: 200px;
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 20px;
    line-height: 22.5px;
    letter-spacing: -0.6px;
  }
  .empty-list {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-empty {
    margin-top: 40px;
    width: 193px;
    height: 160px;
    margin: 0 auto;
  }
}
