.view-invoice {
  border: 2px solid blue;
  background-color: aqua;

  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  position: relative;
  margin-top: 72px;
  margin-bottom: 173px;
}

@media screen and (max-width: 1000px) {
  .invoices {
    margin-right: 30px;
  }
}

@media screen and (max-width: 900px) {
  .invoices {
    width: 100%;
    max-width: calc(100% - 96px);
    margin: 56px 48px 173px 48px;
  }
}

@media screen and (max-width: 700px) {
  .invoices {
    max-width: calc(100% - 48px);
    margin: 32px 24px 105px 24px;
  }
}
