@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
:root {
    --purple: #7c5dfa;
    --purple-light: #9277ff;
    --purple-dark: #1e2139;
    --purple-moderate: #252945;
    --white-purple: #dfe3fa;
    --gray: #888eb0;
    --gray-blue: #7e88c3;
    --black: #0c0e16;
    --red: #ec5757;
    --red-light: #9277ff;
    --light-bg: #f8f8fb;
    --black-blue: #141625;
    --header: #373B53;
    --line: #494E6E
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
}

.body2 {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.23px;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
}

h2 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.8px;
}

.container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
    }
}